<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <context-param>
        <description>ขนาดรูปภาพย่อส่วน</description>
        <param-name>resizeScale</param-name>
        <param-value>150</param-value>
    </context-param>
    <context-param>
        <param-name>pageSizeHome</param-name>
        <param-value>20</param-value>
    </context-param>
    <context-param>
        <param-name>pageSizeGallery</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <param-name>pageSizeComment</param-name>
        <param-value>5</param-value>
    </context-param>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberServlet</servlet-name>
        <servlet-class>controller.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>controller.UploadServlet</servlet-class>
        <multipart-config>
            <!--
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
            -->
            <!-- 52MB max -->
            <max-file-size>52428800</max-file-size>
            <max-request-size>52428800</max-request-size>
            <file-size-threshold>0</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>controller.MapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryServlet</servlet-name>
        <servlet-class>controller.GalleryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoServlet</servlet-name>
        <servlet-class>controller.PhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>controller.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressJsonServlet</servlet-name>
        <servlet-class>controller.AddressJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/Map</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryServlet</servlet-name>
        <url-pattern>/Gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberServlet</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoServlet</servlet-name>
        <url-pattern>/Photo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressJsonServlet</servlet-name>
        <url-pattern>/Address.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <display-name>Photoground</display-name>
</web-app>
